.section-produto {
    display: flex;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}

/* Estilo para a colagem de fotos */
.class-img-produto {
    position: relative;
    width: 110%;
    height: 110%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
}

.texto-produto{
    margin-top: 10%;
    font-size: 20px;
    margin-bottom: 10%;
}

.imagem-produto {
    max-width: 100%;
    max-height: 100%;
}

#produto h1 {
    font-family: 'Montserrat';
    color: black;
    font-weight: 900;
    font-size: 50px; /* Ajuste o tamanho conforme necessário */
    margin-bottom: 30px;
}

#produto h2 {
    color: var(--color-rosa_escuro);
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}


/* Estilo para o botão Saiba Mais */
.btn-ver-produto {
    margin-top: 10%;
    background-color: var(--color-rosa);
    border-radius: 15px;
    padding: 10px 40px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block; /* Permite que o botão se comporte como um elemento de bloco dentro do texto */
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s; /* Adiciona uma transição suave de 0.3s */
    align-items: center;
    text-align: left;
}

.btn-ver-produto:hover {
    background-color: var(--color-rosa_escuro); /* Altera a cor de fundo ao passar o mouse */
    color: #FFFFFF; /* Altera a cor do texto ao passar o mouse */
    text-decoration: none;
}

.container-produto{
    padding: 4% 4%;
    margin: auto;
    margin-top: 20px;
    border-radius: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
.row-produto{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.produto-col1{
    width: 45%;
}

.produto-col2{
    width: 55%;
}

@media (min-width: 2100px) {
    .section-produto{
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (max-width: 1200px) {
    .class-img-produto{
        justify-content: right;
        margin-top: 30px;
    }
    #produto h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }
    #produto h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    #produto p {
        font-size: 18px;
    }
    .btn-ver-produto{
        font-size: 12px;
        text-align: center;
    }
    .row-produto{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .container-produto{
        border-radius: 20px;
    }
    .section-produto{
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media (max-width: 700px) {
    .produto-col1{
        width: 100%;
    }
    .produto-col2{
        width: 100%;
    }
    .class-img-produto{
        justify-content: center;
        text-align: center;
        margin-top: 0px;
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .imagem-produto{
        width: 80%;
        height: 80%;
    }
    #produto h1 {
        font-size: 25px;
    }
    #produto h2 {
        font-size: 12px;
    }
    #produto p {
        font-size: 15px;
    }
    .btn-ver-produto{
        font-size: 12px;
        width: 100%;
        text-align: center;
    }
    .row-produto{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;
    }
    .container-produto{
        border-radius: 20px;
    }
    .section-produto{
        margin-left: 0%;
        margin-right: 0%;
    }
    .texto-produto{
        text-align: center;
    }
}