section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
    margin-bottom: -10px;
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 40%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid var(--color-botao);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: var(--color-botao);
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: var(--color-botao);
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: var(--color-botao);
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

@media screen and (max-width: 768px){
    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }

    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
}